<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="layoff notices database derived from WARN (worker adjustment and retraining) act data sources">
    <title>OpenDoxie: US Company Layoff Notices</title>
    <link rel="stylesheet" href="static/dist/assets/css/app.css">
</head>

<body>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="has-submenu">
                <a href="/"><b>OpenDoxie</b></a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="/about">About</a></li>
                </ul>
            </li>
            <li><a href="/dash">DASHBOARD</a></li>
            <li><a href="/data">ABOUT THE DATA</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <form method="get" action="search">
            <ul class="menu">
                <li><input type="search" placeholder="Dunder Mifflin" name="company_search"/></li>
                <li><input type="search" placeholder="Scranton, PA" name="location_search"/></li>
                <li>
                    <button type="submit" class="button" value="Search"><b>Search</b></button>
                </li>
            </ul>
        </form>
    </div>
</div>
<div class="row"><br/></div>
<div class="row">
    <div class="small-3 columns"></div>
    <div class="small-9 small-centered columns">
        <div class="callout primary">
          <h1>What is this?</h1>
          <p>The mission of OpenDoxie is to assemble and showcase unique datasets that give alternative viewpoints on important business and social welfare topics.
            Our <a href="/data">WARN notification database</a> is our first public beta product. We've giving open access to this database in a firendly, searchable
            format and supporting our operational costs through advertising.
          </p>
          <p>Our data products are also available for private purchase.  Please contact us for details.  In keeping with our mission, researchers and non-profits can obtain the data for a nominal
              processing fee.
          </p>
          <center>
            <ul class="menu">
                  <li><a href="mailto:info@opendoxie.com"><h1><i class="fi-mail size-36"></i></h1></a></li>
                  <li><a href="https://twitter.com/intent/tweet?screen_name=opendoxie"><h1><i class="fi-social-twitter size-36"></i></h1></a></li>
                  <!--<li><a href="https://twitter.com/intent/tweet?screen_name=opendoxie" class="twitter-mention-button" data-show-count="true">Tweet to @opendoxie</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>-->
            </ul>
          </center>
        </div>
    </div>
    <div class="small-3 columns"></div>
</div>

<script src="static/bower_components/jquery/dist/jquery.js"></script>
<script src="static/bower_components/what-input/what-input.js"></script>
<script src="static/bower_components/foundation-sites/dist/foundation.js"></script>
<script src="static/dist/assets/js/app.js"></script>
</body>
</html>
