<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="layoff notices database derived from WARN (worker adjustment and retraining) act data sources">
    <title>OpenDoxie: US Company Layoff Notices</title>
    <link rel="stylesheet" href="static/dist/assets/css/app.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82071081-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="has-submenu">
                <a href="/"><b>OpenDoxie</b></a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="/about">About</a></li>
                </ul>
            </li>
            <li><a href="/dash">DASHBOARD</a></li>
            <li><a href="/data">ABOUT THE DATA</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <form method="get" action="search">
            <ul class="menu">
                <li><input type="search" placeholder="Company" name="company_search"/></li>
                <li><input type="search" placeholder="City, county, or state" name="location_search"/></li>
                <li>
                    <button type="submit" class="button" value="Search"><span class="row"><i class="fi-magnifying-glass size-72"></i></span></button>
                </li>
            </ul>
        </form>
    </div>
</div>
<div class="row"><br/></div>
<div class="row">
    <div class="small-3 columns"></div>
    <div class="small-9 small-centered columns">
        <div class="callout primary">
          <h1>About us</h1>
          <p>The mission of OpenDoxie is to assemble and showcase unique datasets that give alternative viewpoints on important business and social welfare topics.
            Our <a href="/data">WARN notification database</a> is our first public beta product. We've giving open access to this database in a firendly, searchable
            format and supporting our operational costs through advertising.
          </p>
          <p>Our data products are also available for private purchase.  Please contact us for details.  In keeping with our mission, researchers and non-profits can obtain the data for a nominal
              processing fee.
          </p>
        </div>
    </div>
    <div class="small-3 columns"></div>
</div>
<footer>
    <div class="small-9 small-centered columns">
        <center>
            <ul class="menu">
                <li><a href="mailto:info@opendoxie.com"><h1><i class="fi-mail size-36"></i></h1></a></li>
                <li><a href="https://twitter.com/intent/tweet?screen_name=opendoxie"><h1><i
                        class="fi-social-twitter size-36"></i></h1></a></li>
            </ul>
            <p>© OpenDoxie, Inc. 2016 <br></p>
        </center>
    </div>
</footer>
<script src="static/bower_components/jquery/dist/jquery.js"></script>
<script src="static/bower_components/what-input/what-input.js"></script>
<script src="static/bower_components/foundation-sites/dist/foundation.js"></script>
<script src="static/dist/assets/js/app.js"></script>

</body>
</html>
