<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="layoff notices database derived from WARN (worker adjustment and retraining) act data sources">
    <title>OpenDoxie: US Company Layoff Notices</title>
    <link rel="stylesheet" href="static/dist/assets/css/app.css">
</head>

<body>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="has-submenu">
                <a href="/"><b>OpenDoxie</b></a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="/about">About</a></li>
                </ul>
            </li>
            <li><a href="/dash">DASHBOARD</a></li>
            <li><a href="/data">ABOUT THE DATA</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <form method="get" action="search">
            <ul class="menu">
                <li><input type="search" placeholder="Dunder Mifflin" name="company_search"/></li>
                <li><input type="search" placeholder="Scranton, PA" name="location_search"/></li>
                <li>
                    <button type="submit" class="button" value="Search"><b>Search</b></button>
                </li>
            </ul>
        </form>
    </div>
</div>

<div class="row"><br/></div>
<div class="row">
    <div class="small-3 columns"></div>
    <div class="small-9 small-centered columns">
        <div class="callout primary">
          <h1>About the WARN Database</h1>
            <p>The <a href="https://en.wikipedia.org/wiki/Worker_Adjustment_and_Retraining_Notification_Act"><i>Worker Adjustment and Retraining Notification Act</i></a> (WARN) requires employers under certain circumstances to publicly issue advance notification of an upcoming layoff.
                This data can provide interesting insights into the operation of large businesses and the health of local economies. State agencies collect and make available this data on their websites. The US Bureau of Labor Statistics formerly collected aggregated data on mass layoffs by state under the <a href="http://www.bls.gov/mls/#data">Mass Layoff Statistics program</a> but that effort was shuttered during the <a href="http://www.bls.gov/bls/sequester_info.htm">2013 budget sequestration</a>.
            </p>
            <p>Each state maintains its own standards and formats for WARN event reportings. This makes aggregating and standardizing this data challenging. We've made every effort to faithfully render layoff event data into a common format to enable aggregation across state agencies, however there may be discrepencies and annotations we've missed.  If you notice an error or have a question about our methodology, please contact us.</p>

            <h2>States included and data sources: </h2>
            <ul>
                <li>California: <a href="http://www.edd.ca.gov/Jobs_and_Training/Layoff_Services_WARN.htm#ListingofWARNNotices">California Employment Development Division</a> </li>
            </ul>
          <center>
            <ul class="menu">
                  <li><a href="mailto:info@opendoxie.com"><h1><i class="fi-mail size-36"></i></h1></a></li>
                  <li><a href="https://twitter.com/intent/tweet?screen_name=opendoxie"><h1><i class="fi-social-twitter size-36"></i></h1></a></li>
                  <!--<li><a href="https://twitter.com/intent/tweet?screen_name=opendoxie" class="twitter-mention-button" data-show-count="true">Tweet to @opendoxie</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>-->
            </ul>
          </center>
        </div>
    </div>
    <div class="small-3 columns"></div>
</div>





<script src="static/bower_components/jquery/dist/jquery.js"></script>
<script src="static/bower_components/what-input/what-input.js"></script>
<script src="static/bower_components/foundation-sites/dist/foundation.js"></script>
<script src="static/dist/assets/js/app.js"></script>
</body>
</html>
