<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
          content="layoff notices database derived from WARN (worker adjustment and retraining) act data sources">
    <title>OpenDoxie: US Company Layoff Notices</title>
    <link rel="stylesheet" href="static/dist/assets/css/app.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82071081-1', 'auto');
      ga('send', 'pageview');

    </script>

</head>

<body>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="has-submenu">
                <a href="/"><b>OpenDoxie</b></a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="/about">About</a></li>
                </ul>
            </li>
            <li><a href="/dash">DASHBOARD</a></li>
            <li><a href="/data">ABOUT THE DATA</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <form method="get" action="search">
            <ul class="menu">
                <li><input type="search" placeholder="Company" name="company_search"/></li>
                <li><input type="search" placeholder="City, county, or state" name="location_search"/></li>
                <li>
                    <button type="submit" class="button" value="Search"><span class="row"><i class="fi-magnifying-glass"></i></span></button>
                </li>
            </ul>
        </form>
    </div>
</div>

<div class="row">
    <div class="small-3 columns"></div>
    <div class="small-9 small-centered columns">
        <div class="row">
            {% if query %}
            <div class="small-9 columns">
                <h2>Found {{total_results}} {{"result" if total_results==1 else "results"}} for <i>{{query}}</i>.
                </h2><br/>
            </div>
            {% else %}
            <div class="small-9 columns">
                <h2>Latest public layoff announcements</h2><br/>
            </div>
            {% endif %}
        </div>
        {% for hit in hits %}
        <div class="row">
            <div class="small-11 small-centered columns">
                <div class="callout">
                    <div class="row">
                        <div class="small-12 columns"><h3><b>{{hit["company"]}}</b></h3></div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns"><h4>{{hit["location"]}}</h4></div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns"><h4><b>Employees:</b> {{hit["number-affected"]}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns"><h4><b>Effective:</b> {{hit["effective-date"]}} </h4></div>
                        {% if hit["notice-date"] %}
                        <div class="small-6 columns"><h4><b>Notice:</b> {{hit["notice-date"]}}</h4></div>
                        {% endif %}
                    </div>
                    {% if hit["source"] %}
                    <div class="row">
                        <div class="small-12 columns"><h4><b>Source:</b> <a href={{hit["source"]["url"]}}>{{hit["source"]["name"]}}</a>
                        </h4></div>
                    </div>
                    {% endif %}
                    {% if hit["notes"] %}
                    <div class="row">
                        <div class="small-12 columns"><h4><b>Notes:</b> {{hit["notes"]}}</h4></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if number_pages and number_pages>1 %}
        <div class="row">
            <div class="small-11 small-centered columns">
                <div class="pagination-centered">
                    <ul class="pagination text-center" aria-label="Pagination">
                        {% if number_pages<8 %}
                        {% if current_page == 1 %}
                        <li class="disabled">Previous</li>
                        {% else %}
                        <li><a href="{{modify_query(page=current_page-1)}}"> Previous</a></li>
                        {% endif %}
                        {% for i in range(1, number_pages + 1 ) %}
                        {% if i == current_page %}
                        <li class="current"><span class="show-for-sr">You're on page</span>{{current_page}}</li>
                        {% else %}
                        <li><a href="{{modify_query(page=i)}}" aria-label="Page {{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        <!--<li class="ellipsis" aria-hidden="true"></li>-->
                        {% if current_page == number_pages %}
                        <li class="disabled">Next</li>
                        {% else %}
                        <li><a href="{{modify_query(page=current_page+1)}}" aria-label="Next page">Next <span
                                class="show-for-sr">page</span></a></li>
                        {% endif %}
                        {% else %}
                        {% if current_page == 1 %}
                        <li class="disabled">Previous</li>
                        {% else %}
                        <li><a href="{{modify_query(page=current_page-1)}}"> Previous <span
                                class="show-for-sr">page</span></a>
                        </li>
                        {% endif %}
                        {% if current_page+10>number_pages %}
                        {% for i in range(start_window, end_window+1) %}
                        {% if i == current_page %}
                        <li class="current"><span class="show-for-sr">You're on page</span>{{current_page}}</li>
                        {% else %}
                        <li><a href="{{modify_query(page=i)}}" aria-label="Page {{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        {% for i in range(start_visible, end_visible+1) %}
                        {% if i == current_page %}
                        <li class="current"><span class="show-for-sr">You're on page</span>{{current_page}}</li>
                        {% else %}
                        <li><a href="{{modify_query(page=i)}}" aria-label="Page {{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        <li class="ellipsis" aria-hidden="true"></li>
                        {% for i in range(number_pages-2, number_pages+1) %}
                        <li><a href="{{modify_query(page=i)}}" aria-label="Page {{i}}">{{i}}</a></li>
                        {% endfor %}
                        {% endif %}
                        {% if current_page == number_pages %}
                        <li class="disabled">Next</li>
                        {% else %}
                        <li><a href="{{modify_query(page=current_page+1)}}" aria-label="Next page">Next</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="small-3 columns"></div>
</div>
<footer>
    <div class="small-9 small-centered columns">
        <center>
            <ul class="menu">
                <li><a href="mailto:info@opendoxie.com"><h1><i class="fi-mail size-36"></i></h1></a></li>
                <li><a href="https://twitter.com/intent/tweet?screen_name=opendoxie"><h1><i
                        class="fi-social-twitter size-36"></i></h1></a></li>
            </ul>
            <p>© OpenDoxie, Inc. 2016 <br></p>
        </center>
    </div>
</footer>


<script src="static/bower_components/jquery/dist/jquery.js"></script>
<script src="static/bower_components/what-input/what-input.js"></script>
<script src="static/bower_components/foundation-sites/dist/foundation.js"></script>
<script src="static/dist/assets/js/app.js"></script>
<script type="text/javascript"> var infolinks_pid = 2844876; var infolinks_wsid = 0; </script>
<script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
</body>
</html>
